# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database files
*.db

# OS-specific
.DS_Store

# Environment files
.env

# CSV data (optional if not public)
*.csv

